@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
body{
     background: #000000;
     font-family: 'Poppins';
}
html, body{
     overflow-x: hidden;
     position: relative;
}
.h1_heading{
     font-family: 'Poppins';
     font-weight: 900;
     font-size: 64px;
     line-height: 70px;
     color: #fff;
     text-transform: uppercase;
}
.h1_head_sml{
     font-family: 'Poppins';
     font-weight: 700;
     font-size: 25px;
     line-height: 40px;
     color: #fff;
     text-transform: uppercase;
     text-decoration: underline;
}
.h1_head_xs{
     font-family: 'Poppins';
     font-weight: 600;
     font-size: 20px;
     line-height: 40px;
     color: #fff;
     text-transform: uppercase;
}
.seicon{
     height: 50px;
     width: 50px;
     margin: 0px 15px;
}
.footer_seicon{
    height: 30px;
    width: 30px;
    margin: 0px 15px;
}
.footerParent{
    position: relative;
    padding: 0% 0%;
    padding-top: 1%;
    border-top: 1px solid #cecece;
}
.footer{
    position: relative;
    text-align: center;
}   
.banner_sec{
     background-repeat: no-repeat;
     background-size: 90%;
     background-color: #000000;
     background-image: url('banner_barbs.png') !important;
     padding:15% 10%;
     left:5%;
     right:5%;
     position: relative;
     z-index: -99;
}
.prologue-container{
     opacity: 1 !important;
}

.lore_sec{
     background-image: url('background_transparent.png') !important;
     backdrop-filter: blur(40) !important;
     border: 2px solid #ffffff36;
     border-radius: 60px;
     position: unset !important;
     margin: 5% 7%;
     padding: 5% 5% 5% 5%;
}
.info_sec {
    background-image: linear-gradient(108.98deg, rgba(255, 255, 255, 0.37) -9.68%, rgba(255, 255, 255, 0.26) -9.67%, rgba(217, 217, 217, 0) 99.34%) !important;
    backdrop-filter: blur(40px) !important;
    border: 2px solid #ffffff36;
    border-radius: 60px;
    position: unset !important;
    margin: 5% 7%;
    padding: 5% 5% 5% 5%;
}
.set_font{
     text-transform: capitalize !important;
}
.bg-nav{
     margin-top: 25px;
     padding: 0 6%;
}
.nav-link{
     margin: 10px;
     color: white !important;
     margin: 6px 24px;
     text-align: left;
     font-family: 'Poppins';
     font-style: normal;
     font-weight: 275;
     font-size: 20px;
     line-height: 30px;
}
.nav-link:hover{
     color: #50cf5a !important;
}
.para_p {
     font-family: 'Poppins';
     font-style: normal;
     font-weight: 275;
     font-size: 24px;
     line-height: 36px;
     color: #FFFFFF;
}

/* Phones */

@media screen and (max-width: 1024px) and (min-width: 991px) {
     .para_p{
         font-size: 16px;
         line-height: 26px;
    }
}

@media screen and (max-width: 1440px) and (min-width: 1025px) {
     .para_p{
         font-size: 23px;
    }
}

@media screen and (max-width: 1780px) and (min-width: 1441px) {

}

@media only screen and (min-width: 1781px) {

}

@media screen and (max-width: 1320px) and (min-width: 991px) {
     .bg-nav{
         padding: 0 3%;
    }
     .nav-link{
         margin: 6px 10px;
    }
     .seicon {
         height: 35px;
         width: 35px;
         margin: 0px 7px;
    }
}

@media screen and (max-width: 1499px) and (min-width: 1200px) {

}

@media only screen and (max-width: 991px) and (min-width: 768px) {
    .navbar-toggler{
         background: #fff;
    }
}

@media only screen and (max-width: 767px) {
    .logo_s{
         width: 70%;
         padding-bottom: 0;
    }
     .navbar-brand{
         display: block;
         margin: 0 auto;
    }
    .bg-nav{
         padding-left: 2% !important;
         padding-right: 2% !important;
    }
    .navbar-toggler{
         margin: 0 auto;
    }
    .navbar-light .navbar-toggler{
         background: #fff;
         border-color: #000000;
         margin-top: 3%;
         margin-bottom: 3%;
    }
    .h1_heading{
         font-size: 38px;
    }
    .h1_head_sml{
         font-size: 20px;
    }
    .h1_head_xs{
     font-size: 18px;
}
    .para_p {
         font-size: 15px;
    }
    .navbar-footer .logo_s{
        width: 60%;
    }
}

/* tabs */

 .tabs-section .nav-link {
     font-family: 'Poppins';
     font-style: normal;
     font-weight: 300;
     font-size: 32px;
     line-height: 48px;
    /* identical to box height */
     text-align: center;
     color: #FFFFFF;
}
 .tabs-section .nav-link:hover {
     color: #cddc39;
}
 .tabs-section .nav-link.active {
     color: #fff;
     background: transparent;
     border: 1px solid #FFFFFF;
     border-radius: 14px;
}
 .tabs-section .nav-link:hover {
     border: 1px solid #FFFFFF;
     border-radius: 14px;
}
 .tabs-section .tab-pane.active {
     -webkit-animation: fadeIn 0.5s ease-out;
     animation: fadeIn 0.5s ease-out;
}
 .tabs-section .nav-link::before{
     background-image: url('/assets/images/icon/slider.svg') !important;
     background-size: contain;
     width: 33px !important;
     height: 18px !important;
     display: block !important;
     content: " ";
     background-repeat: no-repeat;
     position: relative;
     top: 0.8em;
}
 .tabs-section .nav-link{
     line-height: 30px !important;
     padding-bottom: 13px !important;
     padding-top: 0px !important;
}
 .tabs-section .details p {
     color: #aaaaaa;
}
 
 @media only screen and (max-width: 1140px) and (min-width: 768px) {
     .tabs-section .nav-link{
         font-size: 18px;
    }
     .tabs-section .nav-link::before{
         width: 21px !important;
         height: 11px !important;
         top: 1.2em;
    }
     .cont_tabs{
         margin: 0;
    }
     .tabs-section .nav-link{
         margin: 0 12px;
    }
     .cont_dash{
         margin: 12px;
    }
     .elem_span{
         font-size: 15px;
         line-height: 17px;
    }
     .elem_bold{
         font-size: 16px !important;
         line-height: 20px !important;
    }
     .content_div{
         padding: 12px;
    }
     .ps{
         padding-left: 5px !important;
         padding-right: 5px !important;
    }
     .main_swap, .main_node{
         padding: 22px;
    }
}
 @media only screen and (max-width: 767px) {
     .cont_tabs{
         margin: 0;
    }
     .cont_dash{
         margin: 12px 5px 60px 5px;
    }
     .ps{
         margin: 8px 0 5px 0;
    }
     .elem_span{
         font-size: 18px;
    }
}
 
@keyframes blinker {
     5% {
         opacity: 0;
    }
}

.hd_m{
     display: none;
}
.logo_m{
     width: 55% !important;
     padding-left: 5%;
}

@media (max-width: 767px) {
    .navtbass{
         display: none;
    }
    .hd_m, .navs_hyd{
         display: block !important;
    }
}

@media (max-width: 768px) {
    .tabs_g{
         margin-top: 0 !important;
    }
    .logo_m{
         margin: 0 auto;
         width: 20% !important;
         display: block;
    }
    .bg-nav{
         background: #000000;
    }
    .blink_me{
         margin-top: 20%;
    }
    #navbarText{
         background: #000000;
         z-index: 99;
    }
    .navbar-nav{
         padding-top: 7%;
    }
    .navbar-collapse {
         position: fixed;
         top: 0;
         left: 0;
         padding-left: 15px;
         padding-right: 15px;
         padding-bottom: 15px;
         width: 70%;
         height: 100%;
    }
    .navbar-collapses{
         position: relative;
         padding-left: 15px;
         padding-right: 15px;
         padding-bottom: 15px;
         width: 100%;
         height: 100%;
    }
    .navbar-collapse.collapsing {
         left: -75%;
         transition: height 0s ease;
    }
    .navbar-collapse.show {
         left: 0;
         transition: left 500ms ease-in-out;
    }
    .navbar-toggler.collapsed ~ .navbar-collapse {
         transition: left 500ms ease-in-out;
    }
    .hyd_navs {
         padding-top: 5%;
    }
    .btn_dash{
         margin-top: 20px;
    }
    .navbar_btnss{
         margin-left: 80%;
    }
    .tabs_g .nav-link{
         font-size: 20px;
    }
    .tabs_g .nav-link::before{
         width: 22px !important;
         top: 1.2em;
         left: 1.5em;
    }
    .tabs_g .nav-link{
         margin: 6px 10px;
    }
    .blink_me{
         font-size: 28px;
    }
}
 .navs_hyd{
     display: none;
}

/* Gallery */
 
.gallery-container{
    margin: 15px auto;
}

.gallery-item{
    float: left;
    border: 1px solid #cecece;
    padding: 7px;
    margin-bottom: 5px;
}

.gallery-item img{
    width: 100%;
}

/* Team */
.team-container{
     margin: 15px auto;
}
.team-item{
     float: left;
     border: 1px hidden #cecece;
     padding: 10px;
     margin-bottom: 20px;
}
.team-item img{
     border-radius: 50%;
     width: 80%;
     text-align: center;
}
.team-item title{
     display: block;
     text-align: left;

     color: #cecece;
     padding: 0px 0;
     font-size: 40px;
 }
 .team-item p{
     display: block;
     color: #cecece;
     padding: 0px 0;
     text-align: left;
     font-size: 20px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }

 /* Roadmap */

 .roadmap-container{
     margin: 15px auto;
 }

 .roadmap-item img{
     max-width: 100%;
     border-radius: 20%;
 }

  /* Lore */

 .lore-container{
     margin: 15px auto;
 }

 .lore-item img{
     max-width: 90%;
     border: .5px solid #cecece;
     border-radius: 80%;
 }

 .lore-item{
     float: left;
     padding: 7px;
     margin-bottom: 5px;
 }
 

   /* Home */

.banner-container{
     margin: 15px auto;
 }

 .banner-item img{
     max-width: 100%;
 }

